.page__banner {
  height: calc(100vh - 70px);
  background-image: url("../assets/Background.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.page__banner .container {
  max-width: 100%;
  padding-top: 130px;
  text-align: center;
}
.banner__title {
  font-family: 'Raleway',sans-serif;
  font-size: 49px;
  line-height: 57px;
  margin: 0 auto;
}
.banner__text {
  font-size: 16px;
  line-height: 22px;
  margin: 20px auto;
  padding-bottom: 40px;
}
.banner__btn {
  text-decoration: none;
  background-color: $primaryColor;
  color: white;
  font-weight: bold;
  box-shadow: 5px 10px 14px #07ACE629;
  padding: 22px 157px;
  border-radius: 40px;
  opacity: 1;
}