.page__header{
  box-shadow: 0 3px 6px #00000029;
}
.page__header .container {
  max-width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
  padding: 25px;
  color: $primaryColor;
}
.page__nav--list {
  display: flex;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
}
.page__nav--list li {
  margin: 0 46px;

}
.page__nav--list >li a {
  text-decoration: none;
  color: $secondaryTextColor;
  padding: 27px 10px;
}
.page__nav--list >li a:hover {
  color: $primaryTextColor;
  border-bottom: 4px solid $primaryColor;
}
.page__nav--burger {
 display: none;
  span {
    width: 35px;
    padding: 2px;
    border-top: 5px solid $primaryColor;
  }
}